// Tacit - CSS Framework for Dummies, Without Classes
@import url('https://unpkg.com/tacit-css@1.5.1/dist/tacit-css-1.5.1.min.css');

@import "~highlight.js/scss/a11y-dark";
@import "~notyf/notyf.min";

button[data-sharer] {
    color: #fff;
}

.test-css {
    padding: 5px;
    border: 2px solid blue;
}
